* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $section-color;
  font-family: "Helvetica", sans-serif;
  color: $font-color;
  width: 100%;
}

body ul {
  list-style: none;
}

h1,
h2 {
  font-size: 5rem;
}

h4 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.8;
}

@media screen and (max-width: 700px) {
  h1,
  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  label {
    font-size: 1rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}
