.classes {
  height: auto;
  padding: 2em 0;

  &-container {
    @include container;
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2em;
  }

  .list-of-classes {
    @include container;
    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2em;

    .class-item {
      .class-title {
        margin-bottom: 1em;
      }

      &__desc {
        margin-bottom: 5em;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
} /* END OF CLASSES */

@media screen and (max-width: 900px) {
  .classes {
    &-container {
      padding: 2em !important;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .list-of-classes {
      padding: 2em !important;

      .class-item {
        &__desc {
          margin-bottom: 4em;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .classes {
    &-container {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }
}
