.classes {
  height: auto;
  padding: 2em 0;

  .classes-container {
    @include container;
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2em;
  }

  .list-of-classes {
    @include container;
    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2em;

    .class-item {
      .class-title {
        margin-bottom: 1em;
      }

      &__desc {
        margin-bottom: 5em;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
} /* END OF CLASSES */
