.contact {
  height: auto;
  padding: 2em 0;
  .contact-container {
    @include container;
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2em;

    .video {
      display: flex;
      flex-direction: column;
      position: relative;
      height: auto;

      iframe {
        min-height: 360px;
      }
    }

    .contact-form {
      h2 {
        margin-bottom: 2rem;
      }

      form {
        input {
          padding: 0.2em;
          font-size: 1.6rem;
          background-color: #e4e4e4;
          border: 1px solid #b6b6b6;
          margin-right: 1em;
          margin-top: 0.5em;
          margin-bottom: 0.5em;

          &:focus {
            background-color: white;
          }
        }

        .name {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
          margin-bottom: 2em;

          .first-name {
            display: flex;
            flex-direction: column;
          }

          .last-name {
            display: flex;
            flex-direction: column;
          }
        }

        .email {
          display: flex;
          flex-direction: column;
          margin-bottom: 2em;
        }

        .form-submit {
          .btn-submit {
            color: $font-color;
            background-color: $primary-color;
            padding: 1rem 2rem;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
