.membership {
  padding: 2em 0;

  &-container {
    @include container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2em;

    .mem-desc {
      .desc-par {
        margin-bottom: 2.5rem;
      }

      .desc-prices {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 25%;

        .price1 {
          margin-right: 2rem;
        }

        .price-header {
          margin-top: 2rem;
        }

        h5 {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
} /* END OF MEMBERSHIP */

@media screen and (max-width: 900px) {
  .membership {
    &-container {
      padding: 2em !important;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }
}

@media screen and (max-width: 500px) {
  .membership {
    &-container {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }
}
