.programs {
  display: flex;
  background: linear-gradient(
      0deg,
      hsla(0, 0%, 16%, 0.8),
      hsla(0, 0%, 16%, 0.8)
    ),
    url("../img/battle-rop.jpg") no-repeat center/cover;
  height: 50rem;

  .programs-container {
    @include container;

    .programs-heading {
      color: #fff;
      margin-bottom: 2em;
      text-align: center;
      font-size: 1.5rem;
    }

    .flip-cards {
      display: flex;
      justify-content: space-between;

      .card {
        perspective: 200rem;
        -moz-perspective: 150rem;
        -o-persepctive: 150rem;
        position: relative;
        width: 100%;
        margin: 0 1em;

        .side {
          color: #fff;
          height: 100%;
          transition: all 0.5s ease;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          backface-visibility: hidden;
          border-radius: 3px;
          box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

          &_front {
            &-1 {
              position: relative;
              background: linear-gradient(
                to right bottom,
                rgb(153, 153, 212),
                rgb(0, 0, 255)
              );
              padding: 3px;

              .content {
                height: calc(100% - 6px);
                background: linear-gradient(
                    to right bottom,
                    rgba(42, 42, 42, 0.7),
                    rgba(42, 42, 42, 0.9)
                  ),
                  url("../img/strength.jpg") no-repeat center/cover;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                  font-size: 1.2rem;
                  letter-spacing: 0.1rem;
                }
              }
            }

            &-2 {
              position: relative;
              background: linear-gradient(
                to right bottom,
                rgb(159, 214, 168),
                rgb(0, 255, 119)
              );
              padding: 3px;

              .content {
                height: calc(30em - 6px);
                background: linear-gradient(
                    to right bottom,
                    rgba(42, 42, 42, 0.7),
                    rgba(42, 42, 42, 0.9)
                  ),
                  url("../img/endurance.jpg") no-repeat center/cover;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                  font-size: 1.2rem;
                  letter-spacing: 0.1rem;
                }
              }
            }

            &-3 {
              position: relative;
              background: linear-gradient(
                to right bottom,
                hsl(48, 57%, 75%),
                $primary-color
              );
              padding: 3px;

              .content {
                height: calc(30em - 6px);
                background: linear-gradient(
                    to right bottom,
                    rgba(42, 42, 42, 0.7),
                    rgba(42, 42, 42, 0.9)
                  ),
                  url("../img/calisthenics.jpg") no-repeat center/cover;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                  font-size: 1.2rem;
                  letter-spacing: 0.1rem;
                }
              }
            }

            &-4 {
              position: relative;
              background: linear-gradient(
                to right bottom,
                rgb(223, 163, 163),
                rgb(255, 0, 0)
              );
              padding: 3px;

              .content {
                height: calc(30em - 6px);
                background: linear-gradient(
                    to right bottom,
                    rgba(42, 42, 42, 0.7),
                    rgba(42, 42, 42, 0.9)
                  ),
                  url("../img/body-building.jpg") no-repeat center/cover;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                  font-size: 1.2rem;
                  letter-spacing: 0.1rem;
                }
              }
            }
          }

          &_back {
            transform: rotateY(180deg);

            &-1 {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              padding: 1.5em;
              overflow: hidden;

              background: linear-gradient(
                to right bottom,
                rgb(153, 153, 212),
                rgb(0, 0, 255)
              );

              a {
                @include secondary-button;
                border-radius: 50px;
              }

              p {
                @include par-style;
                text-align: center;
              }
            }

            &-2 {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              padding: 1.5em;
              overflow: hidden;

              background: linear-gradient(
                to right bottom,
                rgb(159, 214, 168),
                rgb(0, 255, 119)
              );

              a {
                @include secondary-button;
                border-radius: 50px;
              }

              p {
                @include par-style;
                text-align: center;
              }
            }

            &-3 {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              padding: 1.5em;
              overflow: hidden;

              background: linear-gradient(
                to right bottom,
                hsl(48, 57%, 75%),
                $primary-color
              );

              a {
                @include secondary-button;
                border-radius: 50px;
              }

              p {
                @include par-style;
                text-align: center;
              }
            }

            &-4 {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              padding: 1.5em;
              overflow: hidden;

              background: linear-gradient(
                to right bottom,
                rgb(223, 163, 163),
                rgb(255, 0, 0)
              );

              a {
                @include secondary-button;
                border-radius: 50px;
              }

              p {
                @include par-style;
                text-align: center;
              }
            }
          }
        }

        &:hover .side_front {
          transform: rotateY(-180deg);
        }

        &:hover .side_back {
          transform: rotateY(0);
        }
      }
    }
  }
}
