.quote {
  height: auto;
  padding: 5em 0;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 4em;
    width: 70%;

    h2 {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .quote {
    &-container {
      width: 100%;
      padding: 2em;
    }
  }
}
