.quote {
  height: 40rem;
  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 4em;
    width: 70%;

    h2 {
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    p {
      @include par-style;
    }
  }
}
